.Training {
  display: flex;
  justify-content: center;
}

/* .Training__Info {
  padding: 5px 10px;
  border: 2px solid #aaa;
} */

/* .Container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.Container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: none;
}

.Checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #070;
}

.Container:hover .Checkmark {
  background-color: #ccc;
}

.Container input:checked ~ .Checkmark {
  background-color: #2196f3;
} */
