.Task {
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px;
  border: 2px solid #070;
}

.Task p {
  margin: 0;
}

.Task__Info {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.Task__Info:hover {
  color: #337;
}

.ArrowUp {
  transform: rotate(180deg);
}

.Task__MoreInfo {
  border-top: 1px dashed #777;
  padding: 10px 0;
  font-size: 18px;
  white-space: pre-line;
}

.Task__Title {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  color: #004;
}

.Task__Duration {
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #004;
}

.Task__Equipment {
  padding-top: 5px;
  border-top: 1px dashed #777;
  font-size: 18px;
  font-weight: bold;
  color: #004;
}

.Task__Equipment_Info {
  font-size: 18px;
  font-weight: normal;
}

.Icon {
  margin-right: 5px;
  /* color: #004; */
}

.CloseIcon {
  display: block;
  margin-bottom: 8px;
  color: red;
  cursor: pointer;
}

.Hide {
  display: none;
}
