.TeamsManager {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
}

.TeamsManager__Header {
  margin-bottom: 60px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

.TeamsManager__TeamsList {
  padding: 0;
  list-style: none;
}
