.Team_Editable {
  display: flex;
  background-color: #3a414c;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 10px;
  font-size: 35px;
}

.Team_Editable__FileUploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 5px 5px;
}

.Team_Editable__PreviewFile {
  width: 120px;
  height: 120px;
  border: 3px dashed #bbb;
  border-radius: 5px;
  text-align: center;
}
.Team_Editable__PrevFileHelperText {
  margin-top: 10px;
  padding: 5px 18px;
  background-color: #71c333;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.Team_Editable__PrevFileHelperText:hover {
  background-color: #82d444;
}

.Team_Editable__MidColumnWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px 0 15px;
}

.Team_Editable__Input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
}

.Team_Editable__Input::after {
  border-bottom-color: #2e40a4;
}

.Team_Editable__Buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  width: 70%;
}

.Team_Editable__Button_Save {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.Team_Editable__Button_Cancel {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.Team {
  display: flex;
  max-height: 150px;
  background-color: #3a414c;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 10px;
  font-size: 35px;
  align-items: center;
}

.Team__Avatar {
  width: 120px;
  height: 120px;
}

.Team__TeamName {
  margin-left: 30px;
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 2px;
}

.Team__TeamName:hover {
  color: #2e6fa4;
}

.Team__Icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Team__Icon {
  font-size: 22px;
  cursor: pointer;
}

.Team__Icon_Trash {
  color: #ff0000;
  opacity: 0.5;
  margin-bottom: 35px;
}

.Team__Icon_Trash:hover {
  opacity: 1;
}

.Team__Icon_Edit {
  color: #808080;
  opacity: 0.5;
}

.Team__Icon_Edit:hover {
  opacity: 1;
}

.Team__Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 100px;
  padding: 10px 20px;
}

.Team__ModalMsg {
  margin-bottom: 24px;
  font-size: 18px;
}

.Team__ModalButtons {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.Team__ModalButton {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Team__ModalButton_Yes {
  color: green;
}

.Team__ModalButton_No {
  color: red;
}

input[type="file"] {
  display: none;
}
