.Team_Editable {
  display: flex;
  border: 3px solid #3a623a;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 10px;
  font-size: 35px;
}

.Team_Editable__FileUploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 5px 5px;
}

.Team_Editable__PreviewFile {
  width: 100px;
  height: 100px;
  border: 3px dashed #bbb;
  border-radius: 5px;
  text-align: center;
}
.Team_Editable__PrevFileHelperText {
  margin-top: 10px;
  padding: 5px 7px;
  background-color: #71c333;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.Team_Editable__PrevFileHelperText:hover {
  background-color: #82d444;
}

.Team_Editable__MidColumnWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px 0 15px;
}

.Team_Editable__Input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: bold;
}

.Team_Editable__Input::after {
  border-bottom-color: green;
}

.Team_Editable__Buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  width: 70%;
}

.Team_Editable__Button_Update {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  background-color: green;
  font-size: 16px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}

.Team_Editable__Button_Update:hover {
  background-color: #339633;
}

.Team_Editable__Button_Cancel {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d91162;
  font-size: 16px;
  cursor: pointer;
}

.Team_Editable__Button_Cancel:hover {
  background-color: #fb3384;
}

.Team {
  display: flex;
  max-height: 150px;
  border: 3px solid #3a623a;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px 10px;
  font-size: 35px;
  align-items: center;
}

.Team__Avatar {
  width: 100px;
  height: 100px;
}

.Team__TeamName {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Team__TeamName:hover {
  color: #3a623a;
}

.Team__Icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.Team__Icons .Team__Icon {
  font-size: 22px;
  color: #707070;
  transition: 0.3s;
  cursor: pointer;
}

.Team__Icons .Icons__Icon:hover {
  color: #505050;
}

.Team__Icon_Trash {
  margin-bottom: 35px;
}

input[type="file"] {
  display: none;
}
