.PlayersList {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr;
}
/* 
.ListInfoBox {
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3b444f;
}

.ListItem__Text {
  text-align: center;
  color: #ccc;
  text-transform: uppercase;
  padding: 0 5px;
  margin: 0;
  /* justify-content: flex-start; */

.ListItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
  background-color: #3b444f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ccc;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ListItem > span {
  margin-left: 2px;
  box-sizing: border-box;
}

.ListItem__Sortable:hover {
  color: #fff;
  cursor: pointer;
}

.ListItem__Player {
  width: 8%;
  min-width: 45px;
}

.ListItem__Number {
  width: 7%;
}

.ListItem__FirstName {
  width: 16%;
  padding-left: 6px;
}

.ListItem__LastName {
  width: 18%;
  padding-left: 8px;
}

.ListItem__Position {
  width: 15%;
  padding-left: 9px;
}

.ListItem__Birthday {
  width: 15%;
  padding-left: 12px;
}

.ListItem__Actions {
  display: flex;
  justify-content: center;
  width: 13%;
  padding-left: 20px;
}

.ListItem__Info {
  margin-left: auto;
}

.ListItem__Info:hover {
  color: #fff;
}

.PlayersList__ActionPanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-top: none;
}

.Button__Delete {
  margin-right: 20px;
}

.ActionPanel__Checkbox {
  border-left: 1px solid #ccc;
}
