.TaskCreator__Header {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
  transition: 0.4s;
  background-color: #119bc1;
  cursor: pointer;
}

.TaskCreator__Header:hover {
  background-color: #008ab0;
}

.TaskCreator__Header:hover .TaskCreator__Header_AddIcon {
  transform: rotate(180deg);
}

.TaskCreator__Header_AddIcon {
  margin-right: 7px;
  font-size: 30px;
  color: #fff;
  transition: 0.4s;
}

.TaskCreator__Header_Label {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.TaskCreator__Content {
  box-sizing: border-box;
  border: 2px solid #119bc1;
  padding: 8px 20px;
  border-top: none;
}

.TaskCreator__Content:last-child {
  padding-bottom: 8px;
}

.TaskCreator__Form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.TaskCreator__Input {
  margin-bottom: 10px;
}

.TaskCreator__Duration {
  width: 50%;
}

.TaskCreator__Buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 16px auto 10px auto;
}

.TaskCreator__AddButton {
  background-color: #119bc1;
}

.TaskCreator__AddButton:hover {
  background-color: #0079a0;
}
