.Trainings {
  width: 100%;
}

.Trainings__TrainingCreators {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 20px auto;
}

.Trainings__TrainingCreator_Wraper {
  width: 45%;
}

.Trainings__NoTrainingsMsg {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: #e40d07;
  letter-spacing: 1px;
}

.Trainings__Loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #069e2d;
  background: -moz-linear-gradient(left, #069e2d 10%, rgba(6, 158, 45, 0) 42%);
  background: -webkit-linear-gradient(
    left,
    #069e2d 10%,
    rgba(6, 158, 45, 0) 42%
  );
  background: -o-linear-gradient(left, #069e2d 10%, rgba(6, 158, 45, 0) 42%);
  background: -ms-linear-gradient(left, #069e2d 10%, rgba(6, 158, 45, 0) 42%);
  background: linear-gradient(to right, #069e2d 10%, rgba(6, 158, 45, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.Trainings__Loader:before {
  width: 50%;
  height: 50%;
  background: #069e2d;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.Trainings__Loader:after {
  background: #2b3636;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1680px) {
  .Trainings__TrainingCreators {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .Trainings__TrainingCreators {
    width: 97.5%;
  }

  .Trainings__TrainingCreator_Wraper {
    width: 47.5%;
  }
}

@media (max-width: 896px) {
  .Trainings__TrainingCreators {
    flex-direction: column;
    align-items: center;
  }

  .Trainings__TrainingCreator_Wraper {
    width: 75%;
  }
}

@media (max-width: 414px) {
  .Trainings__TrainingCreator_Wraper {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .Trainings__TrainingCreator_Wraper {
    width: 95%;
  }
}
