.PlayerCreatorHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 50%;
  margin-top: 20px;
  border: 2px solid green;
  background-color: green;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.PlayerCreatorHeader__Title {
  margin: 0;
  font-size: 20px;
}

.PlayerCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-top: none;
}

.FileUploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px 5px 5px;
}

.FileUploadSection__PreviewFile {
  width: 100px;
  height: 100px;
  border: 3px dashed #bbb;
  text-align: center;
}

.FileUploadSection__HelperText {
  margin-top: 10px;
  padding: 5px 7px;
  background-color: #71c333;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.FileUploadSection__HelperText:hover {
  background-color: #82d444;
}

.PlayerCreator__Input {
  width: 85%;
  margin: 15px;
}

.Buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 5px 0 15px;
}

.Buttons__Button_Add {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  background-color: green;
  font-size: 14px;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}

.Buttons__Button_Add:hover {
  background-color: #339633;
}

.Buttons__Button_Cancel {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d91162;
  font-size: 14px;
  cursor: pointer;
}

.Buttons__Button_Cancel:hover {
  background-color: #fb3384;
}

.PlayerCreator_Inactive {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #757575;
  transition: 0.1s;
  cursor: pointer;
}

.PlayerCreator_Inactive:hover {
  color: #3b9d3f;
}

.PlayerCreator_Inactive__AddUserIcon {
  font-size: 60px;
  margin-right: 20px;
}
