.TrainingOverview {
  display: flex;
  justify-content: space-around;
}

.TrainingOverview__TrainingInfo {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.TrainingOverview__TrainingPlan {
  display: flex;
  flex-direction: column;
  width: 70%;
}
