.TrainingMonthHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 40px auto 0;
  box-sizing: border-box;
  padding: 0 0 0 6px;
  background-color: #12782f;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
}

.TrainingMonthHeader__Title {
  margin: 0 0 0 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.TrainingMonthHeader__Title:hover {
  color: #333;
}

.TrainingMonthHeader__Title_Year {
  text-decoration: underline;
  margin-right: 10px;
}

.TrainingMonthList {
  display: grid;
  width: 100%;
  margin: 0 auto;
  background-color: #def4c6;
  color: black;
  grid-template-columns: 0.3fr 0.7fr 0.8fr 0.5fr 0.5fr 1.2fr 1.2fr 0.6fr;
}

.TrainingMonthActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 auto 25px;
  box-sizing: border-box;
  padding: 12px 15px;
  background-color: #12782f;
}

.Button {
  height: 26px;
  padding: 4px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.Button_Edit {
  margin-right: 16px;
  margin-left: auto;
  background-color: #3f51b5;
}

.Button_Edit:hover {
  background-color: #3f51b5d5;
}

.Button_Edit:disabled {
  opacity: 0.4;
  cursor: default;
}

.Button_Delete {
  background-color: #f50057;
}

.Button_Delete:hover {
  background-color: #f50056d3;
}

.Button_Delete:disabled {
  opacity: 0.4;
  cursor: default;
}

.TrainingMonth__Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 100px;
  padding: 10px 20px;
}

.TrainingMonth__ModalMsg {
  font-size: 18px;
}

.TrainingMonth__ModalButtons {
  display: flex;
  width: 40%;
  margin-top: 20px;
  justify-content: space-around;
}

.TrainingMonth__ModalButton {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.TrainingMonth__ModalButton_Yes {
  color: green;
}

.TrainingMonth__ModalButton_No {
  color: red;
}
