.TrainingMonth__Header {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 25px auto 0 auto;
  box-sizing: border-box;
  padding: 0 0 0 6px;
  background-color: #04773b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
}

.TrainingMonth__Header_Label {
  margin: 0 0 0 8px;
  cursor: pointer;
}

.TrainingMonth__Header_Label:hover {
  color: #333;
}

.TrainingMonth__TrainingsList {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 0.3fr 0.7fr 0.8fr 0.5fr 0.5fr 1.2fr 1.2fr 0.6fr;
}

.TrainingMonth__Buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 0 auto 25px;
  box-sizing: border-box;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-top: none;
}

.Button {
  height: 26px;
  padding: 4px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.Button__Edit {
  margin-right: 16px;
  background-color: #3f51b5;
}

.Button__Edit:hover {
  background-color: #3f51b5d5;
}

.Button__Delete {
  background-color: #f50057;
}

.Button__Delete:hover {
  background-color: #f50056d3;
}
