.Background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/img/bak.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
}

.Navigation {
  display: flex;
  margin: 0 auto;
  width: 90%;
}

.Navigation__Logo {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.Navigation__Items {
  display: flex;
  margin-left: auto;
  width: 40%;
  justify-content: space-between;
}

.Navigation__Item {
}

.Navigation__ItemText {
  font-size: 30px;
}

.Navigation__Buttons {
  display: flex;
}

.Navigation__Button {
  padding: 8px 20px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.Navigation__Button_SignIn {
  background-color: #ff005a;
}

.Navigation__Button_Login {
  background-color: #59c800;
  margin-left: 40px;
}
