.Background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/img/lp_background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
}

.PageWraper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.TopBar {
  display: flex;
  margin-left: 40px;
}

.TopBar__Logo_Img {
  height: 85px;
}

.TopBar__Logo_Label {
  margin: 7px 0 0 30px;
  font-size: 50px;
  color: #051131;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.Navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Navigation__Item_Text {
  font-size: 30px;
  margin-right: 60px;
  font-family: "Montserrat", sans-serif;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Buttons__Button {
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.Buttons__Button_SignUp {
  background-color: #ff005a;
  margin-left: 40px;
}

.Buttons__Button_Login {
  background-color: #59c800;
  margin-left: 40px;
}

.Description {
  width: 40%;
  margin-left: 40px;
}

.Description__Title {
  margin-bottom: 20px;
  font-size: 90px;
  color: #051131;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}

.Description__Subtitle {
  margin: 0 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #278caa;
  text-transform: uppercase;
}

.Description__Text {
  box-sizing: border-box;
  padding-right: 40px;
  line-height: 200%;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.ModalContent {
  outline: none;
}
