.LP__Background {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/img/lp_background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
}

.LP__PageWraper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.LP__TopBar {
  display: flex;
  margin-left: 40px;
}

.LP__Logo_Img {
  height: 85px;
}

.LP__Logo_Label {
  margin: 7px 0 0 30px;
  font-size: 50px;
  color: #051131;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.LP__Navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.LP__NavItem {
  font-size: 30px;
  margin-right: 60px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.LP__Buttons {
  display: flex;
  align-items: center;
}

.LP__Button {
  padding: 12px 22px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.LP__Button_SignUp {
  cursor: pointer;
  background-color: #ff005a;
  margin-left: 40px;
}

.LP__Button_Login {
  cursor: pointer;
  background-color: #59c800;
  margin-left: 40px;
}

.LP__Description {
  width: 40%;
  margin-left: 40px;
}

.LP__DescriptionTitle {
  margin-bottom: 20px;
  font-size: 90px;
  color: #051131;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}

.LP__DescriptionSubtitle {
  margin: 0 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 500;
  color: #278caa;
  text-transform: uppercase;
}

.LP__DescriptionText {
  box-sizing: border-box;
  padding-right: 40px;
  line-height: 200%;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.LP__Modal {
  outline: none;
}

@media (max-width: 1440px) {
  .LP__Background {
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 112%;
    padding-top: 50px;
  }

  .LP__Logo_Img {
    height: 80px;
  }

  .LP__Logo_Label {
    font-size: 46px;
  }

  .LP__NavItem {
    font-size: 32px;
  }

  .LP__Button {
    padding: 12px 25px;
    font-size: 16px;
  }

  .LP__DescriptionTitle {
    font-size: 84px;
  }

  .LP__DescriptionSubtitle {
    font-size: 40px;
  }

  .LP__DescriptionText {
    line-height: 200%;
    font-size: 24px;
  }
}

@media (max-width: 1366px) {
  .LP__Background {
    width: 100%;
    background-position: right;
    padding-top: 40px;
  }

  .LP__PageWraper {
    width: 95%;
  }

  .LP__Logo_Img {
    height: 75px;
  }

  .LP__Logo_Label {
    font-size: 42px;
  }

  .LP__NavItem {
    font-size: 26px;
  }

  .LP__Button {
    padding: 10px 22px;
    font-size: 15px;
  }

  .LP__DescriptionTitle {
    font-size: 80px;
  }

  .LP__DescriptionSubtitle {
    font-size: 38px;
  }

  .LP__DescriptionText {
    line-height: 190%;
    font-size: 22px;
  }
}
