.TrainingTask_Edit {
  border-width: 2px;
  border-color: #069e2d;
  margin-bottom: 5px;
}

.TrainingTask_Edit__Header {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-weight: bold;
  color: #fff;
  transition: 0.4s;
  background-color: #069e2d;
  cursor: pointer;
}

.TrainingTask_Edit__Header:hover {
  background-color: #17af3e;
}

.TrainingTask_Edit__RemoveIcon {
  margin-right: 7px;
  font-size: 30px;
  color: #fff;
  transition: 0.4s;
}

.TrainingTask_Edit__Header:hover .TrainingTask_Edit__RemoveIcon {
  transform: rotate(180deg);
}

.TrainingTask_Edit__Title {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.TrainingTask_Edit__HeaderInputs_Wraper {
  display: flex;
  align-items: center;
  padding: 12px 8px 4px;
  font-weight: bold;
}

.TrainingTask_Edit__TitleInput_Wraper {
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
  cursor: pointer;
}

.TrainingTask_Edit__TaskIndex {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.TrainingTask_Edit__Input_Title {
  width: 80%;
  margin-bottom: 8px;
  margin-left: 5px;
}

.TrainingTask_Edit__DurationInput_Wraper {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.TrainingTask_Edit__Input_Duration {
  width: 70%;
  margin-bottom: 8px;
  margin-left: 5px;
}

.TrainingTask_Edit__TaskDescriptionInput_Wraper {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
}

.TrainingTask_Edit__Input_TaskDescription {
  width: 100%;
}

.TrainingTask_Edit__TaskEquipment_Wraper {
  display: flex;
  align-items: center;
  border-top: 2px dashed #ddd;
  padding: 16px 28px 8px;
  font-size: 16px;
  font-weight: bold;
}

.TrainingTask_Edit__Input_TaskEquipment {
  margin-bottom: 10px;
  margin-left: 8px;
}

.TrainingTask_Edit__Icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #707070;
  cursor: pointer;
}

.TrainingTask_Edit__Icon_Save {
  font-size: 30px;
  color: green;
}

.TrainingTask_Edit__Icon_Close {
  font-size: 30px;
  margin-left: 15px;
  color: #f50057;
}

.TrainingTask {
  border-width: 2px;
  border-color: #ddd;
  margin-bottom: 15px;
}

.TrainingTask__TaskHeader {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-weight: bold;
}

.TrainingTask__TaskTitle {
  display: flex;
  align-items: center;
  width: 50%;
  font-weight: bold;
  margin-right: 10px;
  color: #000;
  cursor: pointer;
}

.TrainingTask__TaskTitle:hover {
  color: #555;
}

.TrainingTask__TaskDuration {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.TrainingTask__TimerIcon {
  color: #0a2239;
  font-size: 22px;
  margin-right: 3px;
}

.TrainingTask__Icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 12px;
  color: #707070;
  cursor: pointer;
}

.TrainingTask__Icon_Edit {
  font-size: 22px;
}

.TrainingTask__Icon_Edit:hover {
  color: black;
}

.TrainingTask__Icon_Delete {
  font-size: 22px;
}

.TrainingTask__Icon_Delete:hover {
  color: black;
}

.TrainingTask__Content {
  padding: 0;
  border-top: 2px dashed #ddd;
  box-sizing: border-box;
}

.TrainingTask__TaskDescription {
  white-space: pre-line;
  padding: 20px 28px;
}

.TrainingTask__TaskEquipment {
  display: flex;
  align-items: center;
  border-top: 2px dashed #ddd;
  padding: 8px 28px;
  font-size: 14px;
  font-weight: bold;
}

.TrainingTask__TaskEquipment_Text {
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
}

.TrainingTask__Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 100px;
  padding: 10px 20px;
}

.TrainingTask__ModalMsg {
  margin-bottom: 24px;
  font-size: 18px;
}

.TrainingTask__ModalButtons {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.TrainingTask__ModalButton {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.TrainingTask__ModalButton_Yes {
  color: green;
}

.TrainingTask__ModalButton_No {
  color: red;
}
