.Toolbar {
  display: flex;
  height: 70px;
  background-color: #004707;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;
}

.Toolbar:hover {
  background-color: #115818;
  height: 71px;
}
