.Player_Editable {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.Player_Editable__FileUploadSection {
  display: flex;
  flex-direction: column;
  width: 8%;
  padding: 3px;
}

.Player_Editable__PreviewFile {
  position: relative;
  width: 45px;
  height: 45px;
  border: 1px dashed #bbb;
  border-radius: 5px;
  text-align: center;
}

.Player_Editable__PrevFileHelperText {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  color: #888;
  cursor: pointer;
}

.Player_Editable__PrevFileHelperText:hover {
  background-color: #ddd;
}

.Player_Editable__PrevFileHelperText_Hide {
  display: none;
}

.Player_Editable__InputWraper {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
}

.Player_Editable_Number {
  width: 7%;
  text-indent: 5px;
}

.Player_Editable_FirstName {
  width: 16%;
}

.Player_Editable_LastName {
  width: 16%;
}

.Player_Editable_Birthday {
  width: 16%;
}

.Player_Editable__SelectField {
  outline: none;
  border: none;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.Player_Editable__SelectField:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.Player_Editable__InputText {
  width: 80%;
  font-size: 16px;
  color: #707070;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.Player_Editable__InputText:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.Player_Editable__InputText:focus {
  outline: none;
  border-bottom: 2px solid #22f;
  padding-bottom: 2px;
}

.Player_Editable__InputText_Number {
  width: 40%;
}

.Player_Editable__DateInput {
  width: 100%;
  border: none;
  font-size: 16px;
  color: #707070;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  cursor: text;
}

.Player_Editable__DateInput::-webkit-inner-spin-button {
  display: none;
}

.Player_Editable__DateInput:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.Player_Editable__DateInput:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.Player_Editable__ButtonsWraper {
  width: 19%;
}

.Player_Editable__Buttons {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 18%;
  color: #707070;
  font-size: 18px;
}

.Player_Editable__Button:hover {
  cursor: pointer;
}

.Player_Editable__Button_Save {
  color: #080;
}

.Player_Editable__Button_Save:hover {
  color: #0a0;
}

.Player_Editable__Button_Cancel {
  color: #a00;
  margin-left: 10px;
}

.Player_Editable__Button_Cancel:hover {
  color: #c00;
}

.Player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.Player__AvatarWraper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 8%;
  padding: 3px;
}

.Player__Avatar {
  width: 45px;
  height: 45px;
}

.Player__Info {
  height: 45px;
  margin-left: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #707070;
}

.Player__Info_Number {
  width: 7%;
}

.Player__Info_FirstName {
  width: 16%;
  margin-left: 5px;
}

.Player__Info_LastName {
  width: 18%;
}

.Player__Info_Position {
  text-transform: capitalize;
  width: 15%;
}

.Player__Info_Birthday {
  width: 15%;
}

.Player__Icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
  width: 14%;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0 5px;
  color: #707070;
}

.Player__Icons i {
  cursor: pointer;
}

.Player__Icon_Edit {
  margin-left: 8px;
}

.Player__CheckboxWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  border-left: 1px solid #ccc;
}

.Player__Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 100px;
  padding: 10px 20px;
}

.Player__ModalMsg {
  margin-bottom: 24px;
  font-size: 18px;
}

.Player__ModalButtons {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.Player__ModalButton {
  border: none;
  background-color: transparent;
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Player__ModalButton_Yes {
  color: green;
}

.Player__ModalButton_No {
  color: red;
}
