.Player_Edit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.FileUploadSection {
  display: flex;
  flex-direction: column;
  width: 8%;
  padding: 3px;
}

.FileUploadSection__PreviewFile {
  position: relative;
  width: 45px;
  height: 45px;
  border: 1px dashed #bbb;
  border-radius: 5px;
  text-align: center;
}

.FileUploadSection__HelperText {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  color: #888;
  cursor: pointer;
}

.FileUploadSection__HelperText:hover {
  background-color: #ddd;
}

.FileUploadSection__HelperText_Hide {
  display: none;
}

.InputSection {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
}

.InputSection_Number {
  width: 7%;
  text-indent: 5px;
}

.InputSection_FirstName {
  width: 16%;
}

.InputSection_LastName {
  width: 16%;
}

.InputSection_Birthday {
  width: 16%;
}

.SelectField {
  outline: none;
  border: none;
  font-size: 16px;
  color: #707070;
  cursor: pointer;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.SelectField:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.InputSection__TextInput {
  width: 80%;
  font-size: 16px;
  color: #707070;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.InputSection__TextInput:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.InputSection__TextInput:focus {
  outline: none;
  border-bottom: 2px solid #22f;
  padding-bottom: 2px;
}

.InputSection__TextInput_Number {
  width: 40%;
}

.InputSection__DateInput {
  width: 100%;
  border: none;
  font-size: 16px;
  color: #707070;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  cursor: text;
}

.InputSection__DateInput::-webkit-inner-spin-button {
  display: none;
}

.InputSection__DateInput:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.InputSection__DateInput:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
}

.ButtonsSection {
  width: 19%;
}

.Buttons {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 18%;
  color: #707070;
  font-size: 18px;
}

.Buttons__Button:hover {
  cursor: pointer;
}

.Buttons__Button_Save {
  color: #080;
}

.Buttons__Button_Save:hover {
  color: #0a0;
}

.Buttons__Button_Cancel {
  color: #a00;
  margin-left: 10px;
}

.Buttons__Button_Cancel:hover {
  color: #c00;
}

.Player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.Player__AvatarSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 8%;
  padding: 3px;
}

.AvatarSection__Avatar {
  width: 45px;
  height: 45px;
}

.Player__Info {
  height: 45px;
  margin-left: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #707070;
}

.Player__Info_Number {
  width: 7%;
}

.Player__Info_FirstName {
  width: 16%;
  margin-left: 5px;
}

.Player__Info_LastName {
  width: 18%;
}

.Player__Info_Position {
  text-transform: capitalize;
  width: 15%;
}

.Player__Info_Birthday {
  width: 15%;
}

.Icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
  width: 14%;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0 5px;
  color: #707070;
}

.Icons i {
  cursor: pointer;
}

.Icons_EditIcon {
  margin-left: 8px;
}

.Player__CheckboxSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  border-left: 1px solid #ccc;
}
